In [26]:
import pandas as pd
df = pd.read_csv("quotes.csv")
df

,quote,author
0,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe
1,You've gotta dance like there's nobody watchin...,William W. Purkey
2,You know you're in love when you can't fall as...,Dr. Seuss
3,A friend is someone who knows all about you an...,Elbert Hubbard
4,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T..."
...,...,...
493785,I do believe the most important thing I can do...,John C. Stennis
493786,I'd say I'm a bit antimadridista although I do...,Isco
493787,The future is now.,Nam June Paik
493788,"In all my life and in the future, I will alway...",Norodom Sihamoni
493789,The future is as bright as the promises of God.,William Carey

In [27]:
len(df["quote"]) == len(df["quote"].unique())

True